* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(27, 27, 27);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(17, 17, 17, 0);
}

#root {
    width: 100%;
}